{% load static %}

<li>
  <article class="post">
    <a href="{% url "indiviudal-post" slug="the-mountains" %}">
      <img src="{% static "images/mountains.jpg" %}" alt="Mountain Hiking">
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint laboriosam aperiam aliquam libero, est ipsam nulla praesentium, quisquam placeat iure sit doloribus, consequuntur cumque accusantium labore nostrum dolore! Officiis, sequi?
        </p>
      </div>
    </a>
  </article>
</li>